# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv(r"C:\Users\ramte\Documents\IronHack_Data_Analytics\WEEK_4-5\lab_subsetting_and_descriptive_stats\your-code\Orders.csv")
#orders.head()

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
#sub 1
aggregation= orders.groupby('CustomerID', as_index=False).agg({'amount_spent': 'sum'}).sort_values('amount_spent',ascending= False)
aggregation

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06
...          ...           ...
4099       17956         12.75
3015       16454          6.90
1794       14792          6.20
3218       16738          3.75
685        13256          0.00

[4339 rows x 2 columns]

In [8]:
#sub 2
aggregation.amount_spent.describe()

count      4339.000000
mean       2053.793018
std        8988.248381
min           0.000000
25%         307.245000
50%         674.450000
75%        1661.640000
max      280206.020000
Name: amount_spent, dtype: float64

In [9]:
Q1 = np.quantile(aggregation['amount_spent'], 0.25)
Q3 = np.quantile(aggregation['amount_spent'], 0.75)
IQR = Q3 - Q1
     
print(Q1, Q3)
#95th percentile (aka. 0.95 quantile).

307.245 1661.64

In [10]:
mean_cust= aggregation[(aggregation.amount_spent>Q1)&(aggregation.amount_spent<Q3)]
mean_cust

      CustomerID  amount_spent
2102       15214       1661.44
1952       15024       1661.33
2193       15332       1661.06
478        12967       1660.90
1252       14045       1659.75
...          ...           ...
788        13395        307.72
542        13060        307.53
1883       14915        307.48
3498       17120        307.46
1171       13932        307.40

[2169 rows x 2 columns]

In [11]:
#prefer
prefer=aggregation[(aggregation.amount_spent>=Q3)&(aggregation.amount_spent<= np.quantile(aggregation['amount_spent'], 0.95))]
prefer

      CustomerID  amount_spent
537        13050       5836.86
304        12720       5781.73
2105       15218       5756.89
3904       17686       5739.46
631        13178       5725.47
...          ...           ...
3880       17656       1674.69
2764       16115       1667.97
438        12912       1662.30
147        12530       1662.28
509        13012       1661.84

[868 rows x 2 columns]

In [12]:
VIP=aggregation[(aggregation.amount_spent>np.quantile(aggregation['amount_spent'], 0.95))]
VIP

      CustomerID  amount_spent
1690       14646     280206.02
4202       18102     259657.30
3729       17450     194550.79
3009       16446     168472.50
1880       14911     143825.06
...          ...           ...
1587       14505       5905.64
1516       14415       5900.28
1898       14944       5900.25
650        13209       5891.61
892        13534       5870.08

[217 rows x 2 columns]

In [13]:
orders['category']= np.where(orders['CustomerID'].isin(VIP.CustomerID), 'VIP', 
                  np.where(orders['CustomerID'].isin(prefer.CustomerID), 'Prefer', 
                  np.where(orders['CustomerID'].isin(mean_cust.CustomerID), 'Clasic', 'non')))

In [14]:
orders.category.unique()

array(['Prefer', 'VIP', 'Clasic', 'non'], dtype=object)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?


Provide your solution for Q2 below:

In [16]:
orders.head(2)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,category
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Prefer
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Prefer

In [23]:
orders[(orders.category=='VIP')].loc[:, ['Country']].value_counts()

Country
United Kingdom     84185
EIRE                7077
France              3290
Germany             3127
Netherlands         2080
Australia            898
Portugal             681
Switzerland          594
Spain                511
Norway               420
Channel Islands      364
Finland              294
Cyprus               248
Singapore            222
Japan                205
Sweden               198
Belgium               54
Denmark               36
dtype: int64

In [ ]:
#orders.groupby(orders.category=='VIP').agg({'Country':'sum'})

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [30]:
orders[(orders.category== 'VIP') | (orders.category == 'Prefer')].loc[:,['Country']].value_counts()

Country
United Kingdom     221635
Germany              7349
EIRE                 7238
France               6301
Netherlands          2080
Spain                1569
Belgium              1557
Switzerland          1370
Portugal             1093
Norway               1028
Australia            1028
Channel Islands       589
Italy                 507
Finland               504
Cyprus                451
Sweden                273
Japan                 272
Singapore             222
Denmark               217
Israel                214
Iceland               182
Austria               158
Poland                149
Canada                135
Malta                  67
Lebanon                45
Greece                 32
dtype: int64