# Challenge 2

In this challenge we will continue working with `Pokemon.csv`. We will attempt solving a slightly more complex problem in which we will practice the iterative data analysis process you leaned in [this video](https://www.youtube.com/watch?v=xOomNicqbkk).

The problem statement is as follows:

**You are at a Pokemon black market planning to buy a Pokemon for battle. All Pokemons are sold at the same price and you can only afford to buy one. You cannot choose which specific Pokemon to buy. However, you can specify the type of the Pokemon - one type that exists in either `Type 1` or `Type 2`. Which type should you choose in order to maximize your chance of receiving a good Pokemon?**

To remind you about the 3 steps of iterative data analysis, they are:

1. Setting Expectations
1. Collecting Information
1. Reacting to Data / Revising Expectations

Following the iterative process, we'll guide you in completing the challenge.

## Provlem Solving Iteration 1

In this iteration we'll analyze the problem and identify the breakthrough. The original question statement is kind of vague because we don't know what a *good pokemon* really means as represented in the data. We'll start by understanding the dataset and see if we can find some insights.

In [1]:
# import libraries
import numpy as np
import pandas as pd

In [2]:
# importing the dataset and inspect the first few rows of the data
pokemon = pd.read_csv('Pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [3]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

From the data it seems whether a pokemon is good depends on its abilities as represented in the fields of `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total`. We are not sure about `Generation` and `Legendary` because they are not necessarily the decisive factors of the pokemon abilities.

But `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, `Speed`, and `Total` are a lot of fields! If we look at them all at once it's very complicated. This isn't Mission Impossible but it's ideal that we tackle this kind of problem after we learn Machine Learning (which you will do in Module 3). For now, is there a way to consolidate the fields we need to look into?

Fortunately there seems to be a way. It appears the `Total` field is computed based on the other 6 fields. But we need to prove our theory. If we can approve there is a formula to compute `Total` based on the other 6 abilities, we only need to look into `Total`.

We have the following expectation now:

#### The `Total` field is computed based on `HP`, `Attack`, `Defense`, `Sp. Atk`, `Sp. Def`, and `Speed`.

We need to collect the following information:

* **What is the formula to compute `Total`?**
* **Does the formula work for all pokemons?**

In the cell below, make a hypothesis on how `Total` is computed and test your hypothesis.

In [4]:
# your code here
list_power = ['HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def','Speed']

#El total se calcula sumando los campos HP, Attack, Defense, Sp. Atk, Sp. Def y Speed:
pokemon['Total_Hipot'] = pokemon[list_power].sum(axis=1)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total_Hipot
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,600

## Provlem Solving Iteration 2

Now that we have consolidated the abilities fields, we can update the problem statement. The new problem statement is:

### Which pokemon type is most likely to have the highest `Total` value?

In the updated problem statement, we assume there is a certain relationship between the `Total` and the pokemon type. But we have two *type* fields (`Type 1` and `Type 2`) that have string values. In data analysis, string fields have to be transformed to numerical format in order to be analyzed. 

In addition, keep in mind that `Type 1` always has a value but `Type 2` is sometimes empty (having the `NaN` value). Also, the pokemon type we choose may be either in `Type 1` or `Type 2`.

Now our expectation is:

#### `Type 1` and `Type 2` string variables need to be converted to numerical variables in order to identify the relationship between `Total` and the pokemon type.

The information we need to collect is:

#### How to convert two string variables to numerical?

Let's address the first question first. You can use a method called **One Hot Encoding** which is frequently used in machine learning to encode categorical string variables to numerical. The idea is to gather all the possible string values in a categorical field and create a numerical field for each unique string value. Each of those numerical fields uses `1` and `0` to indicate whether the data record has the corresponding categorical value. A detailed explanation of One Hot Encoding can be found in [this article](https://hackernoon.com/what-is-one-hot-encoding-why-and-when-do-you-have-to-use-it-e3c6186d008f). You will formally learn it in Module 3.

For instance, if a pokemon has `Type 1` as `Poison` and `Type 2` as `Fire`, then its `Poison` and `Fire` fields are `1` whereas all other fields are `0`. If a pokemon has `Type 1` as `Water` and `Type 2` as `NaN`, then its `Water` field is `1` whereas all other fields are `0`.

#### In the next cell, use One Hot Encoding to encode `Type 1` and `Type 2`. Use the pokemon type values as the names of the numerical fields you create.

The new numerical variables you create should look like below:

![One Hot Encoding](one-hot-encoding.png)

In [12]:
# your code here

#pokemon_cat
pokemon_type1 = pd.get_dummies(pokemon['Type 1'], drop_first = True, dummy_na = True)
pokemon_type2 = pd.get_dummies(pokemon['Type 2'], drop_first = True, dummy_na = True)

In [13]:
data_types = pd.concat([pokemon_type1,pokemon_type2], axis=1)
data_types

,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,...,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,NaN
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
799,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

## Provlem Solving Iteration 3

Now we have encoded the pokemon types, we will identify the relationship between `Total` and the encoded fields. Our expectation is:

#### There are relationships between `Total` and the encoded pokemon type variables and we need to identify the correlations.

The information we need to collect is:

#### How to identify the relationship between `Total` and the encoded pokemon type fields?

There are multiple ways to answer this question. The easiest way is to use correlation. In the cell below, calculate the correlation of `Total` to each of the encoded fields. Rank the correlations and identify the #1 pokemon type that is most likely to have the highest `Total`.

In [23]:
# your code here
corr = data_types.corrwith(pokemon['Total'], axis=0)
corr

Dark        0.017818
Dragon      0.196532
Electric    0.016715
Fairy      -0.026948
Fighting   -0.029086
Fire        0.050527
Flying      0.029504
Ghost       0.007594
Grass      -0.036057
Ground      0.004082
Ice        -0.002412
Normal     -0.104150
Poison     -0.057123
Psychic     0.094364
Rock        0.037524
Steel       0.082000
Water      -0.015640
NaN              NaN
Dark        0.065844
Dragon      0.115240
Electric    0.014669
Fairy      -0.024606
Fighting    0.138726
Fire        0.073234
Flying      0.054048
Ghost      -0.004885
Grass      -0.039224
Ground      0.016486
Ice         0.100870
Normal     -0.013956
Poison     -0.067837
Psychic     0.076054
Rock       -0.000512
Steel       0.070307
Water      -0.018800
NaN        -0.185945
dtype: float64

In [10]:
# your code here
data_types['Total']=data_types.sum(axis=1)
data_types.sort_values('Total', ascending=False).head()

,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,...,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water,NaN,Total
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,2
384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
516,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,2
517,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2
518,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2

# Bonus Question

Say now you can choose both `Type 1` and `Type 2` of the pokemon. In order to receive the best pokemon, which types will you choose?

In [32]:
pokemon_best = pokemon.loc[:,['Name','Type 1', 'Type 2', 'Total']]
pokemon_best.sort_values('Total', ascending=False).head()

                      Name   Type 1    Type 2  Total
426  RayquazaMega Rayquaza   Dragon    Flying    780
164    MewtwoMega Mewtwo Y  Psychic       NaN    780
163    MewtwoMega Mewtwo X  Psychic  Fighting    780
422    KyogrePrimal Kyogre    Water       NaN    770
424  GroudonPrimal Groudon   Ground      Fire    770

In [27]:
# your code here
# Type 1: Dragon
# Type 2: Fighting 

pokemon.loc[(pokemon.loc[:,'Type 1']=='Dragon'), ['Name', 'Type 1', 'Type 2', 'Total']]

                        Name  Type 1    Type 2  Total
159                  Dratini  Dragon       NaN    300
160                Dragonair  Dragon       NaN    420
161                Dragonite  Dragon    Flying    600
365                  Altaria  Dragon    Flying    490
366      AltariaMega Altaria  Dragon     Fairy    590
406                    Bagon  Dragon       NaN    300
407                  Shelgon  Dragon       NaN    420
408                Salamence  Dragon    Flying    600
409  SalamenceMega Salamence  Dragon    Flying    700
417                   Latias  Dragon   Psychic    600
418        LatiasMega Latias  Dragon   Psychic    700
419                   Latios  Dragon   Psychic    600
420        LatiosMega Latios  Dragon   Psychic    700
425                 Rayquaza  Dragon    Flying    680
426    RayquazaMega Rayquaza  Dragon    Flying    780
491                    Gible  Dragon    Ground    300
492                   Gabite  Dragon    Ground    410
493                 Garchomp  Dragon    Ground    600
494    GarchompMega Garchomp  Dragon    Ground    700
671                     Axew  Dragon       NaN    320
672                  Fraxure  Dragon       NaN    410
673                  Haxorus  Dragon       NaN    540
682                Druddigon  Dragon       NaN    485
706                 Reshiram  Dragon      Fire    680
707                   Zekrom  Dragon  Electric    680
710                   Kyurem  Dragon       Ice    660
711       KyuremBlack Kyurem  Dragon       Ice    700
712       KyuremWhite Kyurem  Dragon       Ice    700
774                    Goomy  Dragon       NaN    300
775                  Sliggoo  Dragon       NaN    452
776                   Goodra  Dragon       NaN    600
794         Zygarde50% Forme  Dragon    Ground    600

In [29]:
pokemon.loc[(pokemon.loc[:,'Type 2']=='Fighting'), ['Name', 'Type 1', 'Type 2', 'Total']]

                        Name   Type 1    Type 2  Total
67                 Poliwrath    Water  Fighting    510
163      MewtwoMega Mewtwo X  Psychic  Fighting    780
231                Heracross      Bug  Fighting    500
232  HeracrossMega Heracross      Bug  Fighting    600
277                Combusken     Fire  Fighting    405
278                 Blaziken     Fire  Fighting    530
279    BlazikenMega Blaziken     Fire  Fighting    630
310                  Breloom    Grass  Fighting    460
436                 Monferno     Fire  Fighting    405
437                Infernape     Fire  Fighting    534
476      LopunnyMega Lopunny   Normal  Fighting    580
503                 Croagunk   Poison  Fighting    300
504                Toxicroak   Poison  Fighting    490
526                  Gallade  Psychic  Fighting    518
527      GalladeMega Gallade  Psychic  Fighting    618
558                  Pignite     Fire  Fighting    418
559                   Emboar     Fire  Fighting    528
620                  Scraggy     Dark  Fighting    348
621                  Scrafty     Dark  Fighting    488
699                 Cobalion    Steel  Fighting    580
700                Terrakion     Rock  Fighting    580
701                 Virizion    Grass  Fighting    580
713     KeldeoOrdinary Forme    Water  Fighting    580
714     KeldeoResolute Forme    Water  Fighting    580
716  MeloettaPirouette Forme   Normal  Fighting    600
720               Chesnaught    Grass  Fighting    530