# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv('C:/Users/Juan Carlos/Desktop/otro laboratorio/Orders.csv')
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
# your code here

# Sub Problem 1:
customer_spent = orders.groupby('CustomerID').agg({'amount_spent':'sum'})
customer_spent

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [4]:
np.percentile(customer_spent,95)

5840.181999999982

In [5]:
# Sub Problem 2:
vip = customer_spent[customer_spent['amount_spent'] > np.percentile(customer_spent,95)]
preferred = customer_spent[(customer_spent['amount_spent'] <= np.percentile(customer_spent,95)) & 
                            (customer_spent['amount_spent'] > np.percentile(customer_spent,75))]
preferred

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

In [6]:
orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [7]:
# your code here
customer_spent = orders.groupby('CustomerID').agg({'amount_spent':'sum'})

In [8]:
custIDs = orders['CustomerID'].sort_values().unique()
customer_country = list()
for ID in custIDs:
    customer_country.append(list(orders[orders['CustomerID']==ID]['Country'].unique())[0])
len(customer_country)

4339

In [9]:
customer_spent['Country'] = customer_country
# customer_spent

In [10]:
VIP_threshold = np.percentile(customer_spent['amount_spent'],95)
Pref_threshold = np.percentile(customer_spent['amount_spent'],75)
status = list()
vip2 = list()
for ID in customer_spent.index:
    if list(customer_spent.loc[ID,['amount_spent']])[0] > VIP_threshold:
        status.append('VIP')
        vip2.append('VIP+Preferred')
    elif list(customer_spent.loc[ID,['amount_spent']])[0] <= VIP_threshold and \
        list(customer_spent.loc[ID,['amount_spent']])[0] >Pref_threshold:
        status.append('Preferred')
        vip2.append('VIP+Preferred')
    else:
        status.append('Normal')
        vip2.append('Normal')

In [11]:
customer_spent['Status'] = status
customer_spent['VIP+Preferred'] = vip2
# print(f'{Pref_threshold} || {VIP_threshold}')

In [12]:
# customer_spent.groupby('Country').agg({'Status':'count'})
customer_status = pd.get_dummies(customer_spent['Status'])
# customer_status
customer_spent['Normal'] = customer_status['Normal']
customer_spent['Preferred'] = customer_status['Preferred']
customer_spent['VIP'] = customer_status['VIP']
customer_spent.groupby('Country').agg({'Normal':'sum','Preferred':'sum',
'VIP':'sum'}).sort_values('VIP', ascending=False).head()

                Normal  Preferred  VIP
Country
United Kingdom  2989.0      755.0  177
Germany           55.0       29.0   10
France            58.0       20.0    9
Switzerland       11.0        6.0    3
Australia          5.0        2.0    2

In [13]:
customer_status2 = pd.get_dummies(customer_spent['VIP+Preferred'])
customer_status2.columns = [['Normal', 'VIP+Preferred']]
# customer_status2
customer_spent['VIP+Preferred'] = customer_status2['VIP+Preferred']
# customer_spent
customer_spent.groupby('Country').agg({'VIP+Preferred':'sum'}).sort_values('VIP+Preferred', ascending=False).head()

                VIP+Preferred
Country
United Kingdom          932.0
Germany                  39.0
France                   29.0
Belgium                  11.0
Switzerland               9.0

In [14]:
customer_spent.columns

Index(['amount_spent', 'Country', 'Status', 'VIP+Preferred', 'Normal',
       'Preferred', 'VIP'],
      dtype='object')