# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [18]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [19]:
# enter your code here
#Forkeamos el labortorio subsetting para asi obtener la base de datos "Orders.csv" y la guadamos en nuestro escritorio
orders = pd.read_csv("C:/Users/doris/Documents/data_analytics/lab_subsetting_and_descriptive_stats/your-code/Orders/Orders.csv")
orders.head(10)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [22]:
# your code here
#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#obtenemos la cantidad total de clientes unicos 

len(orders['CustomerID'].unique())

4339

In [21]:
#Filtramos los clientes por el monto gastado almacenandolo en la variable data_orders
data_orders = orders.groupby('CustomerID')['amount_spent'].sum()
print(data_orders)

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2094.88
18287     1837.28
Name: amount_spent, Length: 4339, dtype: float64

In [23]:
#obtenemos los clientes que se encuentran en los quantiles 95 y 75 respectivamente
quantile_95 = np.percentile(data_orders,95)
quantile_75 = np.percentile(data_orders,75)
print(quantile_75, quantile_95)

1661.64 5840.181999999982

In [26]:
#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?
#Realizamos una operacion de comparacion mayor que del monto gastado y los respectivos cuantiles
clientes_al95 = (orders['amount_spent'] > quantile_95).sum() 
print(clientes_al95)

7

In [28]:
#Realizamos el mismo proceso para el 75, pero restandole los clientes que se encuentran al 95
clientes_al75 = (orders['amount_spent'] > quantile_75).sum() - clientes_al95
print(clientes_al75)

125

In [29]:
#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?
#Suponemos en la logica de ventas que los VIP estan al 95 y los preferenciales al 75
#Hacemos un sort para los VIP
Los_VIP_95 = orders["amount_spent"].sort_values(ascending=False).head(clientes_al95)
print(Los_VIP_95)

397451    168469.60
37126      77183.60
155418     38970.00
118352      8142.75
248706      7144.72
32732       6539.40
109624      6539.40
Name: amount_spent, dtype: float64

In [30]:
#Mismo proceso anterior para el 75
Los_Preferenciales_75 = orders["amount_spent"].sort_values(ascending=False).head(clientes_al75)
print(Los_Preferenciales_75)

397451    168469.60
37126      77183.60
155418     38970.00
118352      8142.75
248706      7144.72
            ...
140375      1788.48
157808      1787.52
140293      1785.00
35326       1752.00
332682      1740.00
Name: amount_spent, Length: 125, dtype: float64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [ ]:
# your code here