# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [23]:
# enter your code here
orders = pd.read_csv("../../lab_subsetting_and_descriptive_stats/your-code/Orders.csv", )

orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [4]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    397924 non-null  int64
 1   InvoiceNo     397924 non-null  int64
 2   StockCode     397924 non-null  object
 3   year          397924 non-null  int64
 4   month         397924 non-null  int64
 5   day           397924 non-null  int64
 6   hour          397924 non-null  int64
 7   Description   397924 non-null  object
 8   Quantity      397924 non-null  int64
 9   InvoiceDate   397924 non-null  object
 10  UnitPrice     397924 non-null  float64
 11  CustomerID    397924 non-null  int64
 12  Country       397924 non-null  object
 13  amount_spent  397924 non-null  float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [5]:
# your code here
invoice_sum = orders.groupby(['InvoiceNo','CustomerID']).agg({'amount_spent': 'sum'})
invoice_sum

                      amount_spent
InvoiceNo CustomerID
536365    17850             139.12
536366    17850              22.20
536367    13047             278.73
536368    13047              70.05
536369    13047              17.85
...                            ...
581583    13777             124.60
581584    13777             140.64
581585    15804             329.05
581586    13113             339.20
581587    12680             249.45

[18536 rows x 1 columns]

In [36]:
spent_mean = invoice_sum.groupby(['CustomerID']).agg({'amount_spent': 'mean'})
spent_mean.describe()

       amount_spent
count   4339.000000
mean     419.047702
std     1796.320814
min        0.000000
25%      178.505000
50%      293.690000
75%      430.022500
max    84236.250000

In [15]:
customer_vip = list(spent_mean[(spent_mean['amount_spent']>= spent_mean.quantile(0.95).values[0])].index)
customer_preferred= list(spent_mean[(spent_mean['amount_spent']<= spent_mean.quantile(0.95).values[0])&
          (spent_mean['amount_spent']>= spent_mean.quantile(0.75).values[0])].index)

In [49]:
spent_mean[(spent_mean['amount_spent']>= spent_mean.quantile(0.95).values[0])].index.unique()

Int64Index([12346, 12349, 12354, 12357, 12359, 12371, 12378, 12397, 12398,
            12405,
            ...
            17846, 17857, 17919, 17949, 18087, 18102, 18139, 18192, 18194,
            18251],
           dtype='int64', name='CustomerID', length=217)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [35]:
orders_vip = orders.groupby(['CustomerID'] , as_index=True).agg({'amount_spent':'sum', 'Country':})

SyntaxError: invalid syntax (Temp/ipykernel_11280/2334423421.py, line 1)

In [42]:
# your code here
orders_vip = orders.loc[customer_vip, 'Country'].to_frame()

In [45]:
orders_vip.value_counts()

Country
United Kingdom     196
Norway               5
France               4
Germany              4
EIRE                 3
Denmark              2
Channel Islands      1
Japan                1
Portugal             1
dtype: int64

In [50]:
orders.loc[customer_vip+customer_preferred, 'Country'].to_frame().value_counts()

Country
United Kingdom     975
Norway              25
France              20
Germany             14
EIRE                13
Spain               11
Japan                9
Denmark              8
Portugal             8
Channel Islands      2
dtype: int64